<%- include('../../partials/head.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1>Wellcome to Dashboard</h1>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>
</body>
</html>
